{{define "footer"}}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{.System.Version}}
        </div>
        <div class="pull-right hidden-xs">
            <!--<b>Theme</b> {{.System.Theme}}&nbsp;&nbsp;-->
        </div>
        <strong>Powered by <a href="http://www.dongliang.com.cn">栋梁铝业</a>.</strong>
        {{.FooterInfo}}
    </footer>
{{end}}